.paginate-btn {
    background:transparent;
    border: none;
    border-radius: 50%;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffa700;
    cursor: pointer;
}

.icon{
    font-size: 18px!important;
}

.mui-paginate {
    padding: 20px 0;
    display: flex;
    justify-content: center;
}